@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
    Page.About = "<h3>The USAACE and Fort Rucker Community Health Promotion Council (CHPC) functions as the Senior Commander's (SC’s) executive agency for the recommendation of priorities and the implementation, synchronization, reporting, and assessment of all Ready and Resilient Campaign (R2C) plan functions in order to ensure a ready and resilient force. The CHPC will identify redundancies and voids in programs and services by evaluating population needs, assessing existing programs, and coordinating targeted interventions.</h3><br /><ol type='I'><li>The CHPC identifies goals and objectives to meet requirements established by the R2C and Army Regulation 600-63, <i>Army Health Promotion</i>.</li><br /><li>CHPC is responsible for synchronizing efforts across the installation for the benefit of Soldiers, Families, Civilians, and Retirees. This is accomplished by evaluating the needs and concerns of the Fort Rucker Community and developing targeted interventions to enhance the overall quality of life.</li><br /><li>The CHPC process is a platform for R2C at the installation level by ensuring Soldiers are deployable and ready, as well as supported by strong families and civilians.</li><br /><li>The CHPC provides an umbrella approach for coordinating garrison, medical, and mission operations and ensures there is a unity of effort in caring for our community. CHPCs are fully dedicated to supporting the health and resiliency of our Soldiers, Family Members, and Civilians.</li><br /><li>The CHPC supports the R2C goals to increase individual and unit resilience, which prepares Soldiers, Civilians, and their Families to deal with the rigors and challenges of a demanding profession and ultimately prepares the community for a lifetime of success.</li></ol>";
}

<style>
    body {
        background-color: #0094ff;
    }

    .middlecontent, .bottomcontent {
        display: none;
    }

    .topcontent {
        height: 810px;
    }
</style>