@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Behavioral Health/ Suicide Prevention Working Group";
    Page.About = "<h3>The primary mission of the Fort Rucker Behavioral Health and Suicide Prevention Working Group (BHSP-WG) is to support the CHPC, support the Army Suicide Prevention Program (ASPP), and improve the Mental and Behavioral Health of the Total Army Family on the installation by</h3><ol type='a'><li>Improving the identification of at risk Soldiers, Family Members, and Department of the Army (DA) Civilians and ensuring at risk individuals receive successful intervention and appropriate care.</li><br /><li>Integrating resources to ensure the promotion of help-seeking behavior and promote help-seeking behavior as a sign of individual strength, courage, and maturity.</li><br /><li>Reducing barriers to behavioral health care on the installation.</li><br /><li>Encouraging positive life-coping skills taught and reinforced by all leaders.</li><br /><li>Reducing Fort Rucker suicide trends (completed and attempted) compared to previous rates and Civilian demographics.</li></ol>";
    Page.Articles = "src='../SubPages/Articles.aspx'";
    Page.Resources = "src='../SubPages/Emotional.aspx'";
}

<style type="text/css">
    body {
        background-color: #48c052;
    }
</style>