@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Family Resiliency Working Group";
    Page.About = "<h3>The Family Resiliency Working Group (FRWG) is organized to provide a comprehensive approach to health promotion by monitoring health promotion delivery systems, developing prevention strategies, and implementing policies that augment or improve resiliency and prevention performance. The FRWG strives to identify and address cultural and morale issues, promote healthy relationships, and reduce levels of cultural exclusion. For the purpose of this work group, resiliency is defined as the ability to grow and thrive in the face of challenges and bounce back from adversity.</h3>";
    Page.Articles = "src='../SubPages/Articles.aspx'";
    Page.Resources = "src='../SubPages/Family.aspx'";
}

<style type="text/css">
    body {
        background-color: #a969d1;
    }
</style>