@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Physical Resiliency Working Group";
    Page.About = "<h3>The primary mission of the Fort Rucker Physical Resiliency Working Group (PRWG) is to</h3><ol type='a'><li>Improve Physical Health of the Total Army Family on the installation by assisting commanders in creating and fostering an environment where focus will be placed on preventive measures and wellness for Soldiers, Family Members, and DA Civilians</li><br /><li>Implement a community/unit wellness program and incorporate Army Wellness Center metrics into the Working Group’s goals as the Center becomes funded.</li></ol>";
    Page.Articles = "src='../SubPages/Articles.aspx'";
    Page.Resources = "src='../SubPages/Physical.aspx'";
}

<style type="text/css">
    body {
        background-color: #67a1ce;
    }
</style>