.slideShow
{
    height: 25em;
    width: 50em;
    position: relative;
    margin: 0 auto;
}

.slideShow > *
{
    height: 25em;
    width: 50em;
    position: absolute;
}

.slideShow > * > *
{
    height: 100%;
    width: 100%;
}