<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database" connectionString="Data Source=RUCKA0011SPSDW1;Initial Catalog=eStaffing_Dev;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="IADesignation" value="FOUO - DEVELOPMENT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add xdt:Transform="RemoveAll" />
        <add value="https://usaace-vwe-apps.rucker.army.mil/eStaffingDev" xdt:Transform="Insert" />
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" name="TRAAuth" xdt:Transform="Replace" />
      <wsFederation passiveRedirectEnabled="false" issuer="https://rucka4011moss13.rucker.army.mil/adfs/ls/" realm="https://usaace-vwe-apps.rucker.army.mil/eStaffingDev/"
        requireHttps="true" persistentCookiesOnPassiveRedirects="false" xdt:Transform="Replace" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>