@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Spiritual Resiliency Working Group";
    Page.About = "<h3>The primary mission of the Fort Rucker Spiritual Resiliency Working Group (SPRWG) is to support the CHPC process, improve the spiritual health, and build spiritual resiliency of the total Army family on the installation by</h3><br /><ol type='a'><li>Ensuring Soldiers, Family Members, Retirees, and DA Civilians susceptible to the risk factors identified by the Installation Prevention Team have an opportunity to mitigate risk factors through integration with the Command Master Religious Program (CMRP).</li><br /><li>Senior leaders reinforcing help-seeking spiritual behavior as an accepted sign of individual strength, courage, and maturity.</li><br /><li>Promoting positive spiritual life-coping skills through Fort Rucker's CMRP and its communities of faith.</li></ol>";
    Page.Articles = "src='../SubPages/Articles.aspx'";
    Page.Resources = "src='../SubPages/Spiritual.aspx'";
}

<style>
    body {
        background-color: #d39939;
    }
</style>